services:
  - type: web
    name: google-maps-scraper-app-d4ly
    runtime: node
    plan: free
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: PUPPETEER_CACHE_DIR
        value: /opt/render/.cache/puppeteer
      - key: NODE_VERSION
        value: 20.0.0
